cython
pycocotools
torch>=1.13.0
torchvision>=0.14.0
fairscale
scipy
timm
tqdm
numpy
accelerate
transformers
peft
ninja
einops
wandb
pandas
pylabel
onnx
onnxsim
onnx_graphsurgeon
polygraphy
open_clip_torch
rf100vl
pydantic
supervision
